doctype html
html
  head
    title= PongIO
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/dependencies/jquery-3.1.1.min.js")
    script(src="javascripts/dependencies/socket.io.min.js")
    script(src="javascripts/dependencies/phaser.min.js")
    
  block content
    script(src="javascripts/start.js")
    div(id = 'game-holder')
